.list_wrapper {
    display: flex;
}

.UserList__ul {
    list-style: none;
    width: 300px;
}

.UserList__ul > li {
    display: block;
    padding: 10px;
    border: 1px solid #e1e1e1;
    margin-top: -1px;
}

.UserList__ul > li:hover {
    background-color: #e1e1e1;
}

.active {
    background-color: #0f7ffa;
    color: white;
}

.UserDetails__wrapper {
    list-style: none;
    width: 300px;
}

.UserDetails__wrapper > li {
    border: 1px solid #e1e1e1;
    margin-top: -1px;
}

.UserDetails__user-avatar {
    padding-left: 0;
    height: 300px;
    background: url(hourglass-half.svg) no-repeat 50% 50%;
    background-size: 30px;
}

.UserDetails__user-details_padding {
    display: block;
    padding: 10px;
}

.UserDetails__user-name {
    font-size: 20px;
    padding: 15px 10px 30px 10px;
}

.centered {
    margin: 0 auto;
}

.UserDetails__wrapper {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
